.header
{
    position: fixed;
    left: 175px;
    right: 0px;
    height: 60px;
    background-color: #444;
    font-size: 24px;
    font-weight: 900;
    color: #BBB;
    padding-top: 20px;
}

.tab
{
    display: inline;
    cursor: pointer;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #555;
    border-right-color: #999;
    border-right-width: 2px;
    border-right-style: solid;
}

.tab:hover
{
    background-color: #666;
}

.setting
{
    padding: 15px;
}

.settings
{
    padding-top: 60px;
}

.setting-input
{
    padding: 5px;
    border-radius: 10px;
    background-color: #2E3845;
    border-color: #555;
    color: #CDC;
}

.setting-input:focus
{
    outline: none;
}

.settings-label
{
    color: #CDC;
    font-size: 18px;
}