.setting
{
    padding: 15px;
}

.settings
{
    padding-top: 60px;
}

.setting-input
{
    padding: 5px;
    border-radius: 10px;
    background-color: #2E3845;
    border-color: #555;
    color: #CDC;
}

.setting-input:focus
{
    outline: none;
}

.settings-label
{
    color: #CDC;
    font-size: 18px;
}