<div class="movie" *ngIf="movie">
  <div
    class="backdrop"
    [style.background-image]="'url(' + movie.backdrop + ')'"
  ></div>
  <div class="content">
    <img class="poster" [src]="movie.poster" />
    <div class="data">
      <div class="title">
        {{ movie.title }}
      </div>
      <div class="subtitle">
        {{ movie.release }} {{ movie.rating.average }}%
      </div>
      <div class="overview">{{ movie.overview }}</div>
      <div class="genre">
        {{ movie.genre.join(" ") }}
      </div>
    </div>
  </div>
</div>
