<div class="container">
  <div class="rating" *ngIf="movie.rating">
    {{ movie.rating.average }}
  </div>
  <div class="poster">
    <img [src]="movie.poster" />
    <button mat-mini-fab color="accent" (click)="wish()">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-fab color="primary" (click)="play()">
      <mat-icon>play_arrow</mat-icon>
    </button>
    <button mat-mini-fab color="accent" (click)="info()">
      <mat-icon>info</mat-icon>
    </button>
  </div>
  <div class="title">
    {{ movie.title }}
  </div>
  <div class="genre">
    {{ movie.genre.join(" ") }}
  </div>
</div>
