<div class="header">
    <a routerLink="recomendations"><div class="tab">
        Recomendations
    </div></a>
    <a routerLink="wishlist"><div class="tab">
        Wishlist
    </div></a>
    <a routerLink="library"><div class="tab">
        Library
    </div></a>
</div>

<div class="container-fluid">
    <div class="row">
        <div *ngIf="!movieList">
            <div class="screen-center loading">
                LOADING
            </div>
        </div>
        <div>
            <movie *ngFor="let m of movieList" [movie]="m"></movie>
        </div>
    </div>
</div>