/* You can add global styles to this file, and also import other style files */

.cosmos-orange {
  background-color: #FF6F03;
}

.cosmos-grey {
  background-color: #474747;
}

.cosmos-light-grey {
  background-color: #777777;
}
