<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>COSMOS</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-drawer-container class="example-container" hasBackdrop="false">
  <mat-drawer #drawer mode="side">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Movies
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p><button mat-button>Popular</button></p>
      <p><button mat-button>My List</button></p>
    </mat-expansion-panel>
  </mat-drawer>
  <mat-drawer-content>
    <mat-grid-list cols="5" rowHeight="3:5">
      <mat-grid-tile *ngFor="let movie of popular">
        <movie [movie]="movie"></movie
      ></mat-grid-tile>
    </mat-grid-list>
  </mat-drawer-content>
</mat-drawer-container>
