.shortmovieview {
  font-size: 12px;
  width: 13em;
  background: #eeeeee;
  border-style: solid;
  border-color: rgba(150, 0, 0, 0.1);
  border-radius: 10px;
  line-height: 0.5em;
  color: rgba(0, 0, 0, 0.75);
  margin: 2px;
  line-height: 1em;
}

 .shortmovieview img {
    max-width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .shortmovieview #shortmoviedetails {
   display: inline-block;
   width: 90%;
   margin-bottom: 0.5em;
   margin-top: 0.5em;
   margin-left: 0.5em;
  }

  .shortmovieview #mTitle {
   margin-top: 1px;
   height: 1em;
   overflow: hidden;
   white-space: nowrap;
  }

  .shortmovieview #mGenre {
   float: left;
  }

  .shortmovieview #mYear {
   float: right; 
  }

.shortmovieview:hover{
  box-shadow: 0 0 2px 1px rgba(140, 0, 0, 0.5);
}